.lorem{
    -fx-background-color: #f00;
}

.chart-series-line {             /* Cor da linha */
    -fx-stroke-width: 2px;               /* Espessura da linha */
    -fx-stroke-line-cap: round;          /* Pontas arredondadas */
    -fx-stroke-line-join: round;         /* Junções suaves (sem cantos) */
}

.home-title{
    -fx-font-weight: 700;
    -fx-font-size: 28px;
}

.home-description{
    -fx-text-fill: #7D7987;
    -fx-font-weight: 400;
    -fx-font-size: 24px;
}

.home-btn{
    -fx-background-color: #FB8C8C;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.form-login{
    -fx-effect: dropshadow(gaussian, rgba(76, 76, 76, 0.25), 20, 0.25, 0, 0);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: #fff;
    -fx-padding: 45;
}

.form-eda{
    -fx-effect: dropshadow(gaussian, rgba(76, 76, 76, 0.25), 20, 0.25, 0, 0);
    -fx-border-radius: 25;
    -fx-background-radius: 50;
    -fx-background-color: #fff;
    -fx-padding: 25;
}

.form-ble{
    -fx-effect: dropshadow(gaussian, rgba(76, 76, 76, 0.25), 20, 0.25, 0, 0);
    -fx-border-radius: 25;
    -fx-background-radius: 50;
    -fx-background-color: #fff;
    -fx-padding: 35;
}


.form-register{
    -fx-effect: dropshadow(gaussian, rgba(76, 76, 76, 0.25), 20, 0.25, 0, 0);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: #fff;
    -fx-padding: 25 45 25 45;

}

.form-login-label{
    -fx-text-fill: #000;
    -fx-font-size: 28;
    -fx-font-weight: 700;
}
.form-login-input{
    -fx-text-fill: #000;
    -fx-font-size: 15;
}

.dash-welcome{
    -fx-text-fill: #000;
    -fx-font-family: Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.dash-name{
    -fx-text-fill: #CF7373;
    -fx-font-family: Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: 700;
}

.rec-ham{
    -fx-background-color: #FBD5D5;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.circle{
    -fx-border-radius: 200;
    -fx-background-radius: 200;
    -fx-border-width: 6;           /* Width of the border */
    -fx-border-style: solid;       /* Style: solid, dashed, dotted, etc. */
}

.i-circle{
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-width: 2;           /* Width of the border */
    -fx-border-style: solid;       /* Style: solid, dashed, dotted, etc. */
    -fx-border-color: FE9F9F;
    -fx-background-color: FFF;
}

.bpm{
    -fx-text-fill: #000;
    -fx-font-family: Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 24;
    -fx-font-weight: 700;
}

.bpm-label{
    -fx-text-fill: #000;
    -fx-font-family: Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 16;
}

.state-label{
    -fx-text-fill: #000;
    -fx-font-family: Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 16;
}

.state-label-state{
    -fx-font-family: Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.side-bar{
    -fx-background-color: #FFF;
    -fx-border-radius: 0 30 30 0;
    -fx-background-radius: 0 30 30 0;
    -fx-padding: 25;
}

.heart-logo{
    -fx-text-fill: #000;
    -fx-font-family: Verdana, Geneva, Verdana, sans-serif;
    -fx-font-size: 27;
    -fx-font-weight: 700;
}

.bit-logo{
    -fx-text-fill: #C97272;
    -fx-font-family: Verdana, Geneva, Verdana, sans-serif;
    -fx-font-size: 27;
    -fx-font-weight: 700;
}

.nav-text{
    -fx-text-fill: #000;
    -fx-font-family: Verdana, Geneva, Verdana, sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 16;
}

.table{
    -fx-background-color: #FFF3F3;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.text-field{
    -fx-background-color: FFF;
    -fx-border-radius: 7;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: FBD5D5;
    -fx-font-size: 16;
}

/* Estilo base do CheckComboBox (herda de combo-box) */
.check-combo-box,
.check-combo-box .combo-box,
.check-combo-box .combo-box-base {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

/* Estiliza o botão da seta */
.check-combo-box .arrow-button {
    -fx-background-color: white;
}
/* Estiliza a própria seta */
.check-combo-box .arrow {
    -fx-background-color: black;
}

/* Estilizando o dropdown popup */
.check-combo-box .combo-box-popup .list-view {
    -fx-background-color: white;
}

/* Estilizando cada item da lista */
.check-combo-box .combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.multidrop{
    -fx-border-color: FBD5D5;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.tooltip {
    -fx-background-color: FFF;      /* background */
    -fx-text-fill: #000;                  /* text color */
    -fx-font: 14px "Tahoma";              /* font */
    -fx-padding: 8px;                    /* spacing */
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,1);
    -fx-show-delay: 0.1s;                /* delay before showing */
    -fx-show-duration: 60s;             /* how long it stays visible */
}